div.blog {
  background-color: transparent;
  border: 2px solid transparent;
  transition: .5s ease-out;
  position: relative;
  overflow: hidden;
  > .card-image img {
    border-radius: .4rem!important;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
  }
  > .card-content .title {
    font-weight: 700;
    transition: 0.4s ease;
  }
}

div.blog:hover {
  background: #fff;
  border: 2px solid var(--border-color);
  border-radius: .6rem!important;
  box-shadow: 0 1em 1em var(--border-color);
  > .card-image img {
    opacity: 0.9;
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
  }
  > .card-content .title {
    color: $dark-green;
  }
  > .card-content .content {
    color: $dark-grey;
  }
}

.blog-title {
  min-height: 3.5rem;
  line-height: 1.7;
}

a.nuxt-link-active {
  color: #4A4A4A;
}

a.nuxt-link-active:hover {
  color: $dark-green;
}

a.has-text-weight-bold {
  color: $light-green;
}

a.has-text-weight-bold:hover {
  color: $dark-green;
}

.input:focus, .textarea:focus, .taginput .taginput-container.is-focusable:focus, .select select:focus, .is-focused.input, .is-focused.textarea, .taginput .is-focused.taginput-container.is-focusable, .select select.is-focused, .input:active, .textarea:active, .taginput .taginput-container.is-focusable:active, .select select:active, .is-active.input, .is-active.textarea, .taginput .is-active.taginput-container.is-focusable, .select select.is-active {
  border-color: #48c78e!important;;
}

.has-text-primary {
  color: #48c78e !important;
}
