@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

/* Buefy has Bulma included. So we import just that */
@import "~buefy/src/scss/buefy-build";

$primary: $turquoise;
$link: $blue;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$dark: $grey-darker;
$text: $grey-dark;
$background: $white-ter;
$link: $blue;
$family-primary: $family-sans-serif;

$navbar-height: 4rem;
$navbar-item-img-max-height: 3rem;

.is-dark-green {
  background-color: $dark-green;
}

.is-light-green {
  background-color: $light-green;
}

.has-text-dark-green {
  color: $dark-green!important;
}

.has-text-light-green {
  color: $light-green!important;
}

@import "~bulma"
