.button.is-dark-green {
  background-color: $dark-green;
  border-color: transparent;
  color: #fff;
}

.button.is-dark-green:hover, .button.is-dark-green.is-hovered {
  background-color: $light-green;
  border-color: transparent;
  color: #fff;
}

a.is-dark-green.btn-more {
  border-radius: .5rem;
  border-color: transparent;
  padding: .7em 2em;
  text-align: center;
  color: #fff;
  display: inline-block;
  background: $light-green;

  /* "to left" / "to right" - affects initial color */
  background: linear-gradient(to left, $light-green 50%, $dark-green 50%) right;
  background-size: 200%;
  transition: .5s ease-out;
}

a.is-dark-green.btn-more:hover {
  background-position: left;
}

.button:focus:not(:active), .button.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em $light-green;
}

.button.is-dark-green:active, .button.is-dark-green.is-active {
  background-color: $dark-green;
  border-color: transparent;
  color: #fff;
}

.button.is-light-green {

  border: 0 solid $light-green;
  color: #fff;
  background: $light-green;

  /* "to left" / "to right" - affects initial color */
  background: linear-gradient(to right, $light-green 50%, $warning 50%) left;
  background-size: 200%;
  transition: .5s ease-out;
}

.button.is-light-green:hover {
  background-position: right;
  color: $dark-grey;
}

.button.is-profile {
  border: 0 solid $dark-green;
  color: #fff;
  background: $dark-green;
}

// .button.is-light-green:hover, .button.is-light-green.is-hovered {
//   background-color: $dark-green;
//   border-color: transparent;
//   color: #fff;
// }

.button:focus:not(:active), .button.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em $dark-green;
}

.pagination-link.is-current {
    background-color: $dark-green!important;
    border-color: $dark-green!important;
    color: #fff;
}

.pagination-previous:focus, .pagination-next:focus, .pagination-link:focus {
    border-color: $dark-green!important;
}

// .button.is-light-green:active, .button.is-light-green.is-active {
//   background-color: $light-green;
//   border-color: transparent;
//   color: #fff;
// }
