.color-dark-green {
  color: $dark-green;
}

.color-light-green {
  color: $light-green;
}

.bg-dark-green {
  background-color: $dark-green;
}

.bg-light-green {
  background-color: $light-green;
}

.color-primary50 {
  color: $primary-50;
}

.color-primary100 {
  color: $primary-100;
}

.color-primary200 {
  color: $primary-200;
}

.color-primary300 {
  color: $primary-300;
}

.color-primary400 {
  color: $primary-400;
}

.color-primary500 {
  color: $primary-500;
}

.color-primary600 {
  color: $primary-600;
}

.color-primary700 {
  color: $primary-700;
}

.color-primary800 {
  color: $primary-800;
}

.color-primary900 {
  color: $primary-900;
}

.bg-primary50 {
  background-color: $primary-50;
}

.bg-primary100 {
  background-color: $primary-100;
}

.bg-primary200 {
  background-color: $primary-200;
}

.bg-primary300 {
  background-color: $primary-300;
}

.bg-primary400 {
  background-color: $primary-400;
}

.bg-primary500 {
  background-color: $primary-500;
}

.bg-primary600 {
  background-color: $primary-600;
}

.bg-primary700 {
  background-color: $primary-700;
}

.bg-primary800 {
  background-color: $primary-800;
}

.bg-primary900 {
  background-color: $primary-900;
}

.color-analog50 {
  color: $analog-50;
}

.color-analog100 {
  color: $analog-100;
}

.color-analog200 {
  color: $analog-200;
}

.color-analog300 {
  color: $analog-300;
}

.color-analog400 {
  color: $analog-400;
}

.color-analog500 {
  color: $analog-500;
}

.color-analog600 {
  color: $analog-600;
}

.color-analog700 {
  color: $analog-700;
}

.color-analog800 {
  color: $analog-800;
}

.color-analog900 {
  color: $analog-900;
}

.bg-analog50 {
  background-color: $analog-50;
}

.bg-analog100 {
  background-color: $analog-100;
}

.bg-analog200 {
  background-color: $analog-200;
}

.bg-analog300 {
  background-color: $analog-300;
}

.bg-analog400 {
  background-color: $analog-400;
}

.bg-analog500 {
  background-color: $analog-500;
}

.bg-analog600 {
  background-color: $analog-600;
}

.bg-analog700 {
  background-color: $analog-700;
}

.bg-analog800 {
  background-color: $analog-800;
}

.bg-analog900 {
  background-color: $analog-900;
}
