
.notification a:not(.button):not(.dropdown-item) {
  text-decoration: none;
}

.categoryContainer a:not(.button):not(.dropdown-item) {
  text-decoration: none;
}

.ct-height {
  height: 60vh;
}

.media-content {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: inherit;
}

a.tag:hover {
  text-decoration: none;
}

.divider-custom {
  width: 4rem;
  height: 0.25rem;
  background-color: $primary-200;
  border-radius: 9999px;
  border: 0 solid $primary-200;
}
