.navbar.is-dark-green {
  background-color: $dark-green;
  color: white;
}

.navbar-item.green {
  background-color: $dark-green;
  color: white;
}

a.navbar-item.green:focus,
a.navbar-item.green:hover,
a.navbar-item.green.is-active {
  background-color: $dark-green;
  color: white;
}

a.navbar-item.green:hover {
  color: rgb(231, 238, 235);
  font-weight: bold;
}

a.navbar-item.green.is-active {
  border-bottom: 4px solid $light-green;
  font-weight: bold;
  transition: .5s ease-in-out;
}
