.navbar.is-dark-green {
  background-color: $dark-green;
  color: white;
}

// a.navbar-item.dark-green.is-active,
// div.navbar-item.dark-green.is-active,
// a.navbar-link.is-active {
//   border-bottom: 4px solid $light-green;
//   font-weight: bold;
// }

.navbar-start {
  > .navbar-item.dark-green {
    color: $primary-50;
    font-weight: 700;
    > .navbar-link {
      background-color: $dark-green;
      color: $primary-50;
      font-weight: 700;
      > .navbar-dropdown {
        background-color: $primary-50;
        color: $dark-green!important;
      }
    }
    > .navbar-link:hover {
      color: $primary-500;
    }
    > .navbar-dropdown.is-boxed {
      padding-left: .5rem;
      padding-right: .5rem;
      > .navbar-link {
        color: $primary-300;
      }
      > .navbar-item.dark-green {
        background-color: #fff;
        color: $dark-green;
        margin-bottom: .3rem;
        border-radius: 5px;
      }
      > .navbar-item.dark-green:hover {
        background-color: $primary-50;
        color: $primary-300;
        font-weight: 800;
      }
      > .navbar-item.dark-green.is-active {
        background-color: $primary-100;
        color: #fff;
        border-radius: 5px;
        font-weight: 800;
      }
    }
  }

  > .navbar-item:hover.dark-green {
    color: $primary-500;
  }

  > .navbar-item.dark-green.is-active {
    font-weight: 800;
  }
}

// a.is-dark-green.navbar-item.dark-green {
//   margin-right: 1rem;
// }

.navbar-item.dark-green:focus,
.navbar-item.dark-green:hover,
.navbar-item.dark-green.is-active {
  background-color: $dark-green;
  color: white;
  > .navbar-link {
    background-color: $dark-green;
    color: white;
  }
}

.navbar-link:not(.is-arrowless)::after {
  border-color: $primary-100;
  margin-top: -0.375em;
}
