.w-5 {
  width: 5% !important;
}
.w-10 {
  width: 10% !important;
}
.w-15 {
  width: 15% !important;
}
.w-20 {
  width: 20% !important;
}
.w-25 {
  width: 25% !important;
}
.w-30 {
  width: 30% !important;
}
.w-35 {
  width: 35% !important;
}
.w-40 {
  width: 40% !important;
}
.w-45 {
  width: 45% !important;
}
.w-50 {
  width: 50% !important;
}
.w-55 {
  width: 55% !important;
}
.w-60 {
  width: 60% !important;
}
.w-65 {
  width: 65% !important;
}
.w-70 {
  width: 70% !important;
}
.w-75 {
  width: 75% !important;
}
.w-80 {
  width: 80% !important;
}
.w-85 {
  width: 85% !important;
}
.w-90 {
  width: 90% !important;
}
.w-95 {
  width: 95% !important;
}
.w-100 {
  width: 100% !important;
}

.h-5 {
  height: 5% !important;
}
.h-10 {
  height: 10% !important;
}
.h-15 {
  height: 15% !important;
}
.h-20 {
  height: 20% !important;
}
.h-25 {
  height: 25% !important;
}
.h-30 {
  height: 30% !important;
}
.h-35 {
  height: 35% !important;
}
.h-40 {
  height: 40% !important;
}
.h-45 {
  height: 45% !important;
}
.h-50 {
  height: 50% !important;
}
.h-55 {
  height: 55% !important;
}
.h-60 {
  height: 60% !important;
}
.h-65 {
  height: 65% !important;
}
.h-70 {
  height: 70% !important;
}
.h-75 {
  height: 75% !important;
}
.h-80 {
  height: 80% !important;
}
.h-85 {
  height: 85% !important;
}
.h-90 {
  height: 90% !important;
}
.h-95 {
  height: 95% !important;
}
.h-100 {
  height: 100% !important;
}

@media only screen and (max-width: 768px) {
  .w-5-mobile {
    width: 5% !important;
  }
  .w-10-mobile {
    width: 10% !important;
  }
  .w-15-mobile {
    width: 15% !important;
  }
  .w-20-mobile {
    width: 20% !important;
  }
  .w-25-mobile {
    width: 25% !important;
  }
  .w-30-mobile {
    width: 30% !important;
  }
  .w-35-mobile {
    width: 35% !important;
  }
  .w-40-mobile {
    width: 40% !important;
  }
  .w-45-mobile {
    width: 45% !important;
  }
  .w-50-mobile {
    width: 50% !important;
  }
  .w-55-mobile {
    width: 55% !important;
  }
  .w-60-mobile {
    width: 60% !important;
  }
  .w-65-mobile {
    width: 65% !important;
  }
  .w-70-mobile {
    width: 70% !important;
  }
  .w-75-mobile {
    width: 75% !important;
  }
  .w-80-mobile {
    width: 80% !important;
  }
  .w-85-mobile {
    width: 85% !important;
  }
  .w-90-mobile {
    width: 90% !important;
  }
  .w-95-mobile {
    width: 95% !important;
  }
  .w-100-mobile {
    width: 100% !important;
  }

  .h-5-mobile {
    height: 5% !important;
  }
  .h-10-mobile {
    height: 10% !important;
  }
  .h-15-mobile {
    height: 15% !important;
  }
  .h-20-mobile {
    height: 20% !important;
  }
  .h-25-mobile {
    height: 25% !important;
  }
  .h-30-mobile {
    height: 30% !important;
  }
  .h-35-mobile {
    height: 35% !important;
  }
  .h-40-mobile {
    height: 40% !important;
  }
  .h-45-mobile {
    height: 45% !important;
  }
  .h-50-mobile {
    height: 50% !important;
  }
  .h-55-mobile {
    height: 55% !important;
  }
  .h-60-mobile {
    height: 60% !important;
  }
  .h-65-mobile {
    height: 65% !important;
  }
  .h-70-mobile {
    height: 70% !important;
  }
  .h-75-mobile {
    height: 75% !important;
  }
  .h-80-mobile {
    height: 80% !important;
  }
  .h-85-mobile {
    height: 85% !important;
  }
  .h-90-mobile {
    height: 90% !important;
  }
  .h-95-mobile {
    height: 95% !important;
  }
  .h-100-mobile {
    height: 100% !important;
  }
}

@media only screen and (max-width: 1023px) {
  .w-5-tablet {
    width: 5% !important;
  }
  .w-10-tablet {
    width: 10% !important;
  }
  .w-15-tablet {
    width: 15% !important;
  }
  .w-20-tablet {
    width: 20% !important;
  }
  .w-25-tablet {
    width: 25% !important;
  }
  .w-30-tablet {
    width: 30% !important;
  }
  .w-35-tablet {
    width: 35% !important;
  }
  .w-40-tablet {
    width: 40% !important;
  }
  .w-45-tablet {
    width: 45% !important;
  }
  .w-50-tablet {
    width: 50% !important;
  }
  .w-55-tablet {
    width: 55% !important;
  }
  .w-60-tablet {
    width: 60% !important;
  }
  .w-65-tablet {
    width: 65% !important;
  }
  .w-70-tablet {
    width: 70% !important;
  }
  .w-75-tablet {
    width: 75% !important;
  }
  .w-80-tablet {
    width: 80% !important;
  }
  .w-85-tablet {
    width: 85% !important;
  }
  .w-90-tablet {
    width: 90% !important;
  }
  .w-95-tablet {
    width: 95% !important;
  }
  .w-100-tablet {
    width: 100% !important;
  }

  .h-5-tablet {
    height: 5% !important;
  }
  .h-10-tablet {
    height: 10% !important;
  }
  .h-15-tablet {
    height: 15% !important;
  }
  .h-20-tablet {
    height: 20% !important;
  }
  .h-25-tablet {
    height: 25% !important;
  }
  .h-30-tablet {
    height: 30% !important;
  }
  .h-35-tablet {
    height: 35% !important;
  }
  .h-40-tablet {
    height: 40% !important;
  }
  .h-45-tablet {
    height: 45% !important;
  }
  .h-50-tablet {
    height: 50% !important;
  }
  .h-55-tablet {
    height: 55% !important;
  }
  .h-60-tablet {
    height: 60% !important;
  }
  .h-65-tablet {
    height: 65% !important;
  }
  .h-70-tablet {
    height: 70% !important;
  }
  .h-75-tablet {
    height: 75% !important;
  }
  .h-80-tablet {
    height: 80% !important;
  }
  .h-85-tablet {
    height: 85% !important;
  }
  .h-90-tablet {
    height: 90% !important;
  }
  .h-95-tablet {
    height: 95% !important;
  }
  .h-100-tablet {
    height: 100% !important;
  }
}

@media only screen and (max-width: 1215px) {
  .w-5-desktop {
    width: 5% !important;
  }
  .w-10-desktop {
    width: 10% !important;
  }
  .w-15-desktop {
    width: 15% !important;
  }
  .w-20-desktop {
    width: 20% !important;
  }
  .w-25-desktop {
    width: 25% !important;
  }
  .w-30-desktop {
    width: 30% !important;
  }
  .w-35-desktop {
    width: 35% !important;
  }
  .w-40-desktop {
    width: 40% !important;
  }
  .w-45-desktop {
    width: 45% !important;
  }
  .w-50-desktop {
    width: 50% !important;
  }
  .w-55-desktop {
    width: 55% !important;
  }
  .w-60-desktop {
    width: 60% !important;
  }
  .w-65-desktop {
    width: 65% !important;
  }
  .w-70-desktop {
    width: 70% !important;
  }
  .w-75-desktop {
    width: 75% !important;
  }
  .w-80-desktop {
    width: 80% !important;
  }
  .w-85-desktop {
    width: 85% !important;
  }
  .w-90-desktop {
    width: 90% !important;
  }
  .w-95-desktop {
    width: 95% !important;
  }
  .w-100-desktop {
    width: 100% !important;
  }

  .h-5-desktop {
    height: 5% !important;
  }
  .h-10-desktop {
    height: 10% !important;
  }
  .h-15-desktop {
    height: 15% !important;
  }
  .h-20-desktop {
    height: 20% !important;
  }
  .h-25-desktop {
    height: 25% !important;
  }
  .h-30-desktop {
    height: 30% !important;
  }
  .h-35-desktop {
    height: 35% !important;
  }
  .h-40-desktop {
    height: 40% !important;
  }
  .h-45-desktop {
    height: 45% !important;
  }
  .h-50-desktop {
    height: 50% !important;
  }
  .h-55-desktop {
    height: 55% !important;
  }
  .h-60-desktop {
    height: 60% !important;
  }
  .h-65-desktop {
    height: 65% !important;
  }
  .h-70-desktop {
    height: 70% !important;
  }
  .h-75-desktop {
    height: 75% !important;
  }
  .h-80-desktop {
    height: 80% !important;
  }
  .h-85-desktop {
    height: 85% !important;
  }
  .h-90-desktop {
    height: 90% !important;
  }
  .h-95-desktop {
    height: 95% !important;
  }
  .h-100-desktop {
    height: 100% !important;
  }
}

@media only screen and (max-width: 1407px) {
  .w-5-widescreen {
    width: 5% !important;
  }
  .w-10-widescreen {
    width: 10% !important;
  }
  .w-15-widescreen {
    width: 15% !important;
  }
  .w-20-widescreen {
    width: 20% !important;
  }
  .w-25-widescreen {
    width: 25% !important;
  }
  .w-30-widescreen {
    width: 30% !important;
  }
  .w-35-widescreen {
    width: 35% !important;
  }
  .w-40-widescreen {
    width: 40% !important;
  }
  .w-45-widescreen {
    width: 45% !important;
  }
  .w-50-widescreen {
    width: 50% !important;
  }
  .w-55-widescreen {
    width: 55% !important;
  }
  .w-60-widescreen {
    width: 60% !important;
  }
  .w-65-widescreen {
    width: 65% !important;
  }
  .w-70-widescreen {
    width: 70% !important;
  }
  .w-75-widescreen {
    width: 75% !important;
  }
  .w-80-widescreen {
    width: 80% !important;
  }
  .w-85-widescreen {
    width: 85% !important;
  }
  .w-90-widescreen {
    width: 90% !important;
  }
  .w-95-widescreen {
    width: 95% !important;
  }
  .w-100-widescreen {
    width: 100% !important;
  }

  .h-5-widescreen {
    height: 5% !important;
  }
  .h-10-widescreen {
    height: 10% !important;
  }
  .h-15-widescreen {
    height: 15% !important;
  }
  .h-20-widescreen {
    height: 20% !important;
  }
  .h-25-widescreen {
    height: 25% !important;
  }
  .h-30-widescreen {
    height: 30% !important;
  }
  .h-35-widescreen {
    height: 35% !important;
  }
  .h-40-widescreen {
    height: 40% !important;
  }
  .h-45-widescreen {
    height: 45% !important;
  }
  .h-50-widescreen {
    height: 50% !important;
  }
  .h-55-widescreen {
    height: 55% !important;
  }
  .h-60-widescreen {
    height: 60% !important;
  }
  .h-65-widescreen {
    height: 65% !important;
  }
  .h-70-widescreen {
    height: 70% !important;
  }
  .h-75-widescreen {
    height: 75% !important;
  }
  .h-80-widescreen {
    height: 80% !important;
  }
  .h-85-widescreen {
    height: 85% !important;
  }
  .h-90-widescreen {
    height: 90% !important;
  }
  .h-95-widescreen {
    height: 95% !important;
  }
  .h-100-widescreen {
    height: 100% !important;
  }
}

@media only screen and (max-width: 1408px) {
  .w-5-fullhd {
    width: 5% !important;
  }
  .w-10-fullhd {
    width: 10% !important;
  }
  .w-15-fullhd {
    width: 15% !important;
  }
  .w-20-fullhd {
    width: 20% !important;
  }
  .w-25-fullhd {
    width: 25% !important;
  }
  .w-30-fullhd {
    width: 30% !important;
  }
  .w-35-fullhd {
    width: 35% !important;
  }
  .w-40-fullhd {
    width: 40% !important;
  }
  .w-45-fullhd {
    width: 45% !important;
  }
  .w-50-fullhd {
    width: 50% !important;
  }
  .w-55-fullhd {
    width: 55% !important;
  }
  .w-60-fullhd {
    width: 60% !important;
  }
  .w-65-fullhd {
    width: 65% !important;
  }
  .w-70-fullhd {
    width: 70% !important;
  }
  .w-75-fullhd {
    width: 75% !important;
  }
  .w-80-fullhd {
    width: 80% !important;
  }
  .w-85-fullhd {
    width: 85% !important;
  }
  .w-90-fullhd {
    width: 90% !important;
  }
  .w-95-fullhd {
    width: 95% !important;
  }
  .w-100-fullhd {
    width: 100% !important;
  }

  .h-5-fullhd {
    height: 5% !important;
  }
  .h-10-fullhd {
    height: 10% !important;
  }
  .h-15-fullhd {
    height: 15% !important;
  }
  .h-20-fullhd {
    height: 20% !important;
  }
  .h-25-fullhd {
    height: 25% !important;
  }
  .h-30-fullhd {
    height: 30% !important;
  }
  .h-35-fullhd {
    height: 35% !important;
  }
  .h-40-fullhd {
    height: 40% !important;
  }
  .h-45-fullhd {
    height: 45% !important;
  }
  .h-50-fullhd {
    height: 50% !important;
  }
  .h-55-fullhd {
    height: 55% !important;
  }
  .h-60-fullhd {
    height: 60% !important;
  }
  .h-65-fullhd {
    height: 65% !important;
  }
  .h-70-fullhd {
    height: 70% !important;
  }
  .h-75-fullhd {
    height: 75% !important;
  }
  .h-80-fullhd {
    height: 80% !important;
  }
  .h-85-fullhd {
    height: 85% !important;
  }
  .h-90-fullhd {
    height: 90% !important;
  }
  .h-95-fullhd {
    height: 95% !important;
  }
  .h-100-fullhd {
    height: 100% !important;
  }
}
