$dark-grey: #505763;
$blue: #4bacff;
$info: #186399;
$dark-green: #7BAE91;
$light-green: #AECAB2;
$base-green: #F0F0F0;
$warning: hsl(44, 100%, 77%);

// $primary: $dark-green;
// $link: hsl(229, 53%, 53%);
// $info: hsl(207, 61%, 53%);
// $success: $light-green;
// $warning: hsl(44, 100%, 77%);
// $danger: hsl(348, 86%, 61%);
// $dark: hsl(0, 0%, 21%);
// $text: hsl(0, 0%, 29%);

$color-black: #000000;
$color-white: #ffffff;
$color-grey: #dddddd;

/* Default font */
$family-nunito: 'Nunito', sans-serif;
$family-sourcecode-pro: 'Source Code Pro', monospace;
