$dark-grey: #505763;
$blue: #4bacff;
$info: #186399;
$dark-green: #7BAE91;
$light-green: #AECAB2;
$base-green: #F0F0F0;
$warning: hsl(44, 100%, 77%);

$color-black: #000000;
$color-white: #ffffff;
$color-grey: #dddddd;

$primary-50: #e5f1eb;
$primary-100: #c0dbcd;
$primary-200: #9bc5ae;
$primary-300: #7bae91;
$primary-400: #699d7e;
$primary-500: #5a8c6d;
$primary-600: #538062;
$primary-700: #4a7055;
$primary-800: #41614a;
$primary-900: #314533;

$complement-50: #ebdfe5;
$complement-100: #ceafc0;
$complement-200: #ae7b98;
$complement-300: #914874;
$complement-400: #811c5e;
$complement-500: #6e004a;
$complement-600: #650046;
$complement-700: #570041;
$complement-800: #4a003a;
$complement-900: #35002f;

$analog-50: #e5f0f0;
$analog-100: #bfdbda;
$analog-200: #9ac5c3;
$analog-300: #7baeab;
$analog-400: #6b9d99;
$analog-500: #5b8d88;
$analog-600: #55807b;
$analog-700: #4e706c;
$analog-800: #46605d;
$analog-900: #384542;

$triadic-50: #ece8f1;
$triadic-100: #cfc6dc;
$triadic-200: #b0a0c5;
$triadic-300: #917bae;
$triadic-400: #7b609d;
$triadic-500: #674493;
$triadic-600: #603f8d;
$triadic-700: #553784;
$triadic-800: #4c317c;
$triadic-900: #3c256e;
